In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import sqlite3
from datetime import date
from datetime import datetime as dt
import hashlib
import sys
import os
import locale
import re
import requests as rq
import wbdata as wb
from contextlib import contextmanager
import pytz
from datetime import timedelta

project_dir = '/home/mi/Dropbox/prog/python/tradeDB'
os.chdir(project_dir)

from importlib import reload
from workers import sql
from workers import api
from workers.common import read_json
import tradeDB

In [2]:
SECTORS = {
            "INDEXES": {"file": "./assets/indexes.jsonc"},
            "STOCK": {"file": "./assets/stock.jsonc"},
            "ETF": {"file": "./assets/etf.jsonc"},
            "COMODITIES": {"file": "./assets/comodities.jsonc"},
        }
for k in SECTORS:
    SECTORS[k]["data"] = read_json( # type: ignore
        SECTORS[k]["file"]
    )

In [405]:
trade= tradeDB.Trader()
db_file = trade.db

In [406]:
reload(sql)

In [410]:
dat = pd.read_csv('./dev/dat.csv')
tab='STOCK'
tabL=[tab+'_DESC',tab]

In [431]:
# merge with what we already know
known = sql.query(
        db_file=db_file,
        tab=tab,
        symbol=dat.loc[:, "symbol"].tolist(),
        from_date=date(1900,1,1),
        to_date=date.today()
    )
# add hash column
known['hash']=sql.get(tab=tabL[0],
        get=['hash'],
        search=dat.loc[:, "symbol"].tolist(),
        db_file=db_file,
        cols=['symbol'])['symbol']

In [432]:
known

,symbol,country,from_date,info,date,vol,name,to_date,industry,val,hash
0,ACP,PL,2023-10-06,None,2023-10-06,None,ASSECOPOL,2023-10-06,None,74.950,bf66636c7010aa2b3611165c364fac17
1,ALE,PL,2023-10-06,None,2023-10-06,None,ALLEGRO,2023-10-06,None,28.750,81e72552fe1dca121c25c8e83cc53c49
2,ALR,PL,2023-10-06,None,2023-10-06,None,ALIOR,2023-10-06,None,55.740,828491131bf307a86f8cda051f6ac09b
3,CDR,PL,2023-10-06,None,2023-10-06,None,CDPROJEKT,2023-10-06,None,107.600,b263eda51983feabe090a9a11f13fe4d
4,CPS,PL,2023-10-06,None,2023-10-06,None,CYFRPLSAT,2023-10-06,None,11.430,0fedeccaf3d740fedec223ea72c1aa20
5,DNP,PL,2023-10-06,None,2023-10-06,None,DINOPL,2023-10-06,None,350.800,b2af1a6920faa8b01d129712b146c1ed
6,JSW,PL,2023-10-06,None,2023-10-06,None,JSW,2023-10-06,None,40.580,d39f06f94b143236a70481655eed5e52
7,KGH,PL,2023-10-06,None,2023-10-06,None,KGHM,2023-10-06,None,107.400,ba7c40134b5d54b8d0ad86aeb9ae8043
8,KRU,PL,2023-10-06,None,2023-10-06,None,KRUK,2023-10-06,None,406.600,24b0c5cea875ec019eda3409c13881e5
9,KTY,PL,2023-10-06,None,2023-10-06,None,KETY,2023-10-06,None,630.000,0647b7c8a8d0c3ae8f6de8ea65ee5d8f
10,LPP,PL,2023-10-06,None,2023-10-06,None,LPP,2023-10-06,None,12200.000,73454f6bc038148629b5149c7cbb1a40
11,MBK,PL,2023-10-06,None,2023-10-06,None,MBANK,2023-10-06,None,418.000,bf7d52237b4b366023a486e6aac1e467
12,OPL,PL,2023-10-06,None,2023-10-06,None,ORANGEPL,2023-10-06,None,7.480,77c150f88523a95827a2c43bf7bc6d9a
13,PCO,PL,2023-10-06,None,2023-10-06,None,PEPCO,2023-10-06,None,18.480,8de5e19e4daf3d346d3b8d29fb9daf41
14,PEO,PL,2023-10-06,None,2023-10-06,None,PEKAO,2023-10-06,None,105.850,978d219c87967c8bf9246124e80c950a
15,PGE,PL,2023-10-06,None,2023-10-06,None,PGE,2023-10-06,None,6.436,01db3e96061002285f73dd3fb64f813a
16,PKN,PL,2023-10-06,None,2023-10-06,None,PKNORLEN,2023-10-06,None,54.600,a199b12223ac994a754aef0ce1b846f0
17,PKO,PL,2023-10-06,None,2023-10-06,None,PKOBP,2023-10-06,None,36.300,73f2cbde5a958223616df504f2ac46bf
18,PZU,PL,2023-10-06,None,2023-10-06,None,PZU,2023-10-06,None,41.150,fa1c9c4ab327c279b6d5a4dd7afceb80
19,SPL,PL,2023-10-06,None,2023-10-06,None,SANPL,2023-10-06,None,372.400,a8f279858586470e58cb32aea8c5e80e

In [433]:
dat.loc[:,[c in known.columns for c in dat.columns]]

,symbol,name,val,date,country,hash,from_date,to_date
0,ACP,ASSECOPOL,74.950,2023-10-06,PL,bf66636c7010aa2b3611165c364fac17,2023-10-06,2023-10-06
1,ALE,ALLEGRO,120.000,2023-10-06,PL,81e72552fe1dca121c25c8e83cc53c49,2023-10-06,2023-10-06
2,ALR,ALIOR,55.740,2023-10-06,PL,828491131bf307a86f8cda051f6ac09b,2023-10-06,2023-10-06
3,CDR,CDPROJEKT,107.600,2023-10-06,PL,b263eda51983feabe090a9a11f13fe4d,2023-10-06,2023-10-06
4,CPS,CYFRPLSAT,11.430,2023-10-06,PL,0fedeccaf3d740fedec223ea72c1aa20,2023-10-06,2023-10-06
5,DNP,DINOPL,350.800,2023-10-06,PL,b2af1a6920faa8b01d129712b146c1ed,2023-10-06,2023-10-06
6,JSW,JSW,40.580,2023-10-06,PL,d39f06f94b143236a70481655eed5e52,2023-10-06,2023-10-06
7,KGH,KGHM,107.400,2023-10-06,PL,ba7c40134b5d54b8d0ad86aeb9ae8043,2023-10-06,2023-10-06
8,KRU,KRUK,406.600,2023-10-06,PL,24b0c5cea875ec019eda3409c13881e5,2023-10-06,2023-10-06
9,KTY,KETY,630.000,2023-10-06,PL,0647b7c8a8d0c3ae8f6de8ea65ee5d8f,2023-10-06,2023-10-06
10,LPP,LPP,12200.000,2023-10-06,PL,73454f6bc038148629b5149c7cbb1a40,2023-10-06,2023-10-06
11,MBK,MBANK,418.000,2023-10-06,PL,bf7d52237b4b366023a486e6aac1e467,2023-10-06,2023-10-06
12,OPL,ORANGEPL,7.480,2023-10-06,PL,77c150f88523a95827a2c43bf7bc6d9a,2023-10-06,2023-10-06
13,PCO,PEPCO,18.480,2023-10-06,PL,8de5e19e4daf3d346d3b8d29fb9daf41,2023-10-06,2023-10-06
14,PEO,PEKAO,105.850,2023-10-06,PL,978d219c87967c8bf9246124e80c950a,2023-10-06,2023-10-06
15,PGE,PGE,6.436,2023-10-06,PL,01db3e96061002285f73dd3fb64f813a,2023-10-06,2023-10-06
16,PKN,PKNORLEN,54.600,2023-10-06,PL,a199b12223ac994a754aef0ce1b846f0,2023-10-06,2023-10-06
17,PKO,PKOBP,36.300,2023-10-06,PL,73f2cbde5a958223616df504f2ac46bf,2023-10-06,2023-10-06
18,PZU,PZU,41.150,2023-10-06,PL,fa1c9c4ab327c279b6d5a4dd7afceb80,2023-10-06,2023-10-06
19,SPL,SANPL,372.400,2023-10-06,PL,a8f279858586470e58cb32aea8c5e80e,2023-10-06,2023-10-06