In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import sqlite3
from datetime import date
from datetime import datetime as dt
import hashlib
import sys
import os
import locale
import re
import requests as rq
from contextlib import contextmanager

project_dir = '/home/mi/Dropbox/prog/python/tradeDB'
os.chdir(project_dir)

from importlib import reload
from workers import sql
from workers import api_stooq
from workers.common import read_json
from workers.common import get_cookie
import tradeDB

In [3]:
SECTORS = {
            "INDEXES": {"file": "./assets/indexes.json"},
            "STOCK": {"file": "./assets/stock.json"},
            "ETF": {"file": "./assets/etf.json"},
            "COMODITIES": {"file": "./assets/comodities.json"},
        }
for k in SECTORS:
    SECTORS[k]["data"] = read_json(
        SECTORS[k]["file"]
    )

In [16]:
reload(api_stooq)
#region = "EUROPE & CENTRAL ASIA"
#region = "U.S."
#region = "CANADA"
#region = "U.S. Main"
#region="LATIN AMERICA & CARIBBEAN"
region = "MIDDLE EAST & NORTH AFRICA"
api = SECTORS["INDEXES"]["data"][region]["api"]  # type: ignore
dat = api_stooq.web_stooq(
    sector_id=api["id"],  # type: ignore
    sector_grp=api["group"],  # type: ignore
    symbol="%",
    from_date=date.today(),
    end_date=date.today(),
)
dat.to_csv("./dev/tab6.csv")

In [43]:
dat=pd.read_csv("./dev/WIG.csv")
tab = "INDEXES"
db = './trader.sqlite'
names=dat['name']

In [27]:
tr=tradeDB.Trader()

In [39]:
s='WIG'
c='PL'
description={"country": c, "indexes": s}

In [29]:
datComp = api_stooq.get(
                        components=s,
                        from_date=date.today(),
                        end_date=date.today(),
                    )

In [31]:
dat=datComp
tab="STOCK"
dat["country"] = description["country"]
dat["tab"] = tab
dat["hash"] = [
    hashlib.md5("".join(r).encode("utf-8")).hexdigest()
    for r in dat.loc[:, ["symbol", "name", "tab"]].to_records(index=False)
]
dat.drop(columns=["tab"], inplace=True)

In [42]:
reload(sql)
t='STOCK_DESC'
sql_columns = sql.tab_columns(t, tr.db)
resp = sql.write_table(
    dat=dat.loc[:, [c in sql_columns for c in dat.columns]],
    tab=t,
    db_file=tr.db,
)

PRAGMA foreign_keys = ON
pragma table_info(STOCK_DESC)
PRAGMA foreign_keys = ON
INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('06N', '06MAGNA', 'PL', '1fe3990855a72d75b22c05a1c7421261', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('11B', '11BIT', 'PL', '3e96bd5ace285206f8ec9060ed2514ed', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('1AT', 'ATAL', 'PL', 'ace198b9fd8f659c618c329d16f85630', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('3RG', '3RGAMES', 'PL', '7fc47350880cd0ab6183d005f7ce4816', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('AAT', 'ALTA', 'PL', '9e7daff3b22fecb2e3a358987697816a', '2023-03-06', '2023-03-06')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ABE', 'ABPL', 'PL', 'ec859d361fe473dbfb213a6a49462f50', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ABS', 'ASSECOBS', 'PL', '17597079102aac39a8435c08719de752', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ACG', 'ACAUTOGAZ', 'PL', 'c5f85dbe495b68d1394f88a17b8f9291', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ACP', 'ASSECOPOL', 'PL', 'bf66636c7010aa2b3611165c364fac17', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ACT', 'ACTION', 'PL', '5b73e6e3f5bf24f592c7ff70e03e8232', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('AGO', 'AGORA', 'PL', '33aaf9f90aced8359ca847ca1a8cee7f', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('AGT', 'AGROTON', 'PL', '7b61817701fd18ba04d842eb99c40de9', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ALE', 'ALLEGRO', 'PL', '81e72552fe1dca121c25c8e83cc53c49', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ALG', 'AIGAMES', 'PL', '4d22651fba0618458b35dac5cfd27788', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ALI', 'ALTUS', 'PL', '401fc031e970da19bf38881f30e974a2', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ALL', 'AILLERON', 'PL', '738cde4456546fe394f997a306eac4d3', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ALR', 'ALIOR', 'PL', '828491131bf307a86f8cda051f6ac09b', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('AMB', 'AMBRA', 'PL', '064a8b6ad544b2c6ad53dea787bb77e1', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('AMC', 'AMICA', 'PL', '0917e4635a11f5e8b352306802cbc313', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('AML', 'ALUMETAL', 'PL', '5defac3d439c63022c56f49d249a6aa9', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ANR', 'ANSWEAR', 'PL', '87b0c5b13d9e9797b029780c3d98a0a1', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('APE', 'APSENERGY', 'PL', 'b9f062c13261504a978316d338f76cf6', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('APN', 'APLISENS', 'PL', 'c1b20f95ff459a4df9beaccf00504cbb', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('APR', 'AUTOPARTN', 'PL', '058812d19bb7e4c08e2b0a0ab7610c4b', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('APT', 'APATOR', 'PL', '3cac0d4131e1f15547cbde7fa07d9c8e', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ARH', 'ARCHICOM', 'PL', '54c99503367ef91f17f17468b41ddb6d', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ART', 'ARTIFEX', 'PL', '614cd6bbd6d4243a861ff41b1cbe151a', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ASB', 'ASBIS', 'PL', 'bd708f1a42f643a3e47964521a356dc0', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ASE', 'ASSECOSEE', 'PL', '2f02d41baac1ce7fcdfe8b039f4c84a5', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('AST', 'ASTARTA', 'PL', '83693473a785deb00b0b603c9b77d1e5', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ATC', 'ARCTIC', 'PL', 'd2fe8815da8c70bec0cd353e06432413', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ATD', 'ATENDE', 'PL', 'fc89dc2242fdf80d6c43889997efe69f', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ATG', 'ATMGRUPA', 'PL', '18389b5998a84231dbae7aa81b08a538', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ATP', 'ATLANTAPL', 'PL', '9ff50471cb8d0c6287a630f02bd6e568', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ATR', 'ATREM', 'PL', 'd891951f0a215edc9ab8b4e8641613bb', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ATT', 'GRUPAAZOTY', 'PL', '8c5e0e7cc36e260e0554f699412f4bcc', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('AWM', 'AIRWAY', 'PL', '63231374fe08caeb86fbd5112e85f1e1', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('B24', 'BRAND24', 'PL', '83856a78e890c148300cec8dff71c645', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BAH', 'BAHOLDING', 'PL', 'fa99c50b4c0299355fc9cdb77f496730', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BBD', 'BBIDEV', 'PL', '8ca44d887a153be3ed00cac85fb211e6', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BBT', 'BOOMBIT', 'PL', 'f30da39ab36aa0404a8f3d5b5b26e2eb', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BCS', 'BIGCHEESE', 'PL', '9e58ed9f6e14878b400dcdbfb941b473', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BCX', 'BIOCELTIX', 'PL', '550bfdada9801dda7cb9e890ae2703a5', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BDX', 'BUDIMEX', 'PL', 'fe7f0e764354dc5b6c9161a8360e7856', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BDZ', 'BEDZIN', 'PL', '59008529995c8787a104bec5209a2390', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BFT', 'BENEFIT', 'PL', '38219aebc9926bcd474183957af3dcb1', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BHW', 'HANDLOWY', 'PL', '6a043d51080f55b74d73c48fe7900b14', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BIO', 'BIOTON', 'PL', '6dbfe4bb318c788069d5a0d63c351d28', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BMC', 'BUMECH', 'PL', 'afac1f887a1cf74cde1ab973f12802a2', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BML', 'BIOMEDLUB', 'PL', 'd0e53d6c6719074ea993e82a1bf5e038', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BMX', 'BIOMAXIMA', 'PL', '1195ad06f68582f1f841d72f831e4ae5', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BNP', 'BNPPPL', 'PL', '7b2b9af402411b2399f31bbb363b85a9', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BOS', 'BOS', 'PL', 'dda5cb517878fca78bb548620aef9171', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BOW', 'BOWIM', 'PL', '400ac4e80ba8c0356ac9fc22fce18ebc', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BRA', 'BRASTER', 'PL', '51d0dfdc8cf03bb981ba7ddea2d9ad0a', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('BRS', 'BORYSZEW', 'PL', '15b5ac25f15fc11e4ed6d0860979a1d5', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CAR', 'INTERCARS', 'PL', '40d45991031a57a320b8a650410fc53f', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CAV', 'CAVATINA', 'PL', '6b8242d5f782417901084947a817eb25', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CCC', 'CCC', 'PL', '44af9bc1768f43992d2284da28b03738', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CDL', 'CDRL', 'PL', 'e6f2788a23e8de72a6f7ea9358211413', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CDR', 'CDPROJEKT', 'PL', 'b263eda51983feabe090a9a11f13fe4d', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CEZ', 'CEZ', 'PL', 'eba11e9dd000a721ebe863e8e94d4e9c', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CIE', 'CIECH', 'PL', '5d0ff28af257215abcc86074353b5e42', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CIG', 'CIGAMES', 'PL', 'fe98cb25eb92cd69a18a566408f56e74', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CLD', 'CLOUD', 'PL', 'eae3daef04cf3ffe29419cd34bc1abb6', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CLE', 'COALENERG', 'PL', 'c3412787d50e03b226e08602a23f0e7e', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CLN', 'CLNPHARMA', 'PL', '2cdcfb277e041c7e7136d5da5352388d', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CMP', 'COMP', 'PL', '3ea9b9c553015d753ff85e5136293887', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CMR', 'COMARCH', 'PL', '56ae1d47d73e66fdc4c5cf9f3fca728c', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CNT', 'CNT', 'PL', 'eb70995a829185109797912bbd8601cd', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('COG', 'COGNOR', 'PL', '94454d05b6e870d37536f55992299ddf', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CPD', 'CELTIC', 'PL', '1175b19b2573aef645197266fc74a1a4', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CPL', 'COMPERIA', 'PL', '9c8631c7b33c6e295aacfe32aeedbf57', '2023-03-06', '2023-03-06')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CPR', 'COMPREMUM', 'PL', '69a3c7aaa061ebb1c1140b25c934fcb6', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CPS', 'CYFRPLSAT', 'PL', '0fedeccaf3d740fedec223ea72c1aa20', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CRI', 'CREOTECH', 'PL', '6e93ad3f46fb7b045b9807fc5f03905d', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CRJ', 'CREEPYJAR', 'PL', 'c7a1413c5c7387b9761125828dc232cc', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CRM', 'CORMAY', 'PL', '4a53cc34fb9994e0361e7415d82244a5', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CSR', 'CASPAR', 'PL', 'f363395eed3e2d55bfac9b1f9201a9cc', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CTS', 'CITYSERV', 'PL', '212a776bc765f00b078b7b3fdf818d84', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('CTX', 'CAPTORTX', 'PL', '034c9bb414ea0a6539424129e2a65ed2', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DAD', 'DADELO', 'PL', '75da55bc44757af6d2e250740400c6d6', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DAT', 'DATAWALK', 'PL', 'aa1ea2b251678eab2c7822672d2e7fa0', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DBC', 'DEBICA', 'PL', '3b4b5206ae063d47e68abbfc84696f4b', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DCR', 'DECORA', 'PL', '45466ff6bba3d2e0b49eefaa2460468d', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DEK', 'DEKPOL', 'PL', 'b1b9303007d267e1579d0f026c7a99df', '2023-03-06', '2023-03-06')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DEL', 'DELKO', 'PL', 'b7b2bb4b347275ca16723c460bb0f9eb', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DIG', 'DIGITANET', 'PL', 'd83daded09bc2100ddb7c336529e052b', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DNP', 'DINOPL', 'PL', 'b2af1a6920faa8b01d129712b146c1ed', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DOM', 'DOMDEV', 'PL', '0c2e311f708e271850088e538a244045', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DPL', 'DROZAPOL', 'PL', 'c858a44cb5f70f9ed2dab2b83112b259', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('DVL', 'DEVELIA', 'PL', '24a890f5933747e2bd0cab62d66ca69e', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('EAH', 'ESOTIQ', 'PL', '045fb05ed1b08ba2abe313fece8d4979', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('EAT', 'AMREST', 'PL', '162f47e9ab993353efcda75adebef230', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('ECH', 'ECHO', 'PL', 'b3e701577fc26db656f6005f0c591a94', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('EEX', 'EKOEXPORT', 'PL', '47b7670f628aa154db25d63a8ef7cb2f', '2023-03-07', '2023-03-07')

INSERT OR REPLACE INTO STOCK_DESC ('symbol', 'name', 'country', 'hash', 'from_date', 'to_date')
            VALUES ('EHG', 'EUROHOLD', 'PL', '503c3c2ad09824b5cfa63f82c5c995af', '2023-03-07', '2023-03-07')


In [48]:
dates = pd.Series(['15:34','Feb 6', '7 Lut', '24 Feb 2023'])
dates

0          15:34
1          Feb 6
2          7 Lut
3    24 Feb 2023
dtype: object

In [38]:
@contextmanager
def setlocale(*args, **kwargs):
    # temporary change locale
    saved = locale.setlocale(locale.LC_ALL)
    yield locale.setlocale(*args, **kwargs)
    locale.setlocale(locale.LC_ALL, saved)

def date_locale(date: str, local: str, format: str):
    with setlocale(locale.LC_ALL, local):  # type: ignore
        return pd.to_datetime(date, errors='coerce',format=format)

In [49]:
d1 = pd.to_datetime(dates, errors="coerce")  # hh:ss
d1

0   2023-03-09 15:34:00
1                   NaT
2                   NaT
3   2023-02-24 00:00:00
dtype: datetime64[ns]

In [47]:
d2 = dates.apply(lambda x: date_locale(x, "en_GB.utf8", "%b %d"))  # 2022 22 Lut
d2

0          NaT
1   1900-02-06
2          NaT
dtype: datetime64[ns]

In [41]:
d3 = dates.apply(lambda x: date_locale(x, "pl_PL.utf8", "%Y %d %b"))  # 2022 22 Lut
d3

0          NaT
1          NaT
2   2023-02-07
dtype: datetime64[ns]

In [43]:
d1 = d1.fillna(d2)
d1 = d1.fillna(d3)
d1 = d1.fillna("")
d1

0   2023-03-09 15:34:00
1   2022-02-06 00:00:00
2   2023-02-07 00:00:00
dtype: datetime64[ns]